<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty - Index</title>
</head>

<body>
    <center>
        <h1>Faculty Index Page</h1>
    </center>
    <br>
    <center>
        <h3>This account belongs to: <span th:text="${firstName} + ' ' + ${lastName}"></span></h3>
    </center>
    <br>
    <center><a th:href="@{/logout}" onclick="return confirm('Are you sure you want to logout?')">Logout</a></center>
    <br>
    <h2>Waiting Evaluation</h2>
    <ul>
        <li th:each="record : ${waitingEvaluation}">
            <span th:text="${record.student_id}"></span>
            <span th:if="${record.evalrequest}">
                <form
                    th:action="@{/evaluate/{courseId}/{studentId}/{facultyCourseStudentId}(courseId=${record.course.courseId}, studentId=${record.student_id}, facultyCourseStudentId=${record.facultyCourseStudentId})}"
                    method="get">
                    <!-- Use a submit button -->
                    <button type="submit">Evaluate</button>
                </form>

            </span>
        </li>
    </ul>
    <br>
    <br>
    <h2>Courses:</h2>
    <ul>
        <li th:each="course : ${courses}">
            <!-- Add a link to each course -->
            <a th:href="@{/faculty/course/details/{id}(id=${course.courseId})}">
                <span th:text="${course.courseCode + ' - ' + course.courseName}"></span>
            </a>
        </li>
    </ul>
</body>

</html>