<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Course Evaluation</title>
</head>

<body>
    <center>
        <h1>Register</h1>
    </center>
    <br>
    <center>
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
    </center>
    <br>
    <center>
        <form th:action="@{/register}" method="post">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname" required><br>
            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="phone_number">Phone Number:</label><br>
            <input type="text" id="phone_number" name="phone_number" required><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" required><br>
            <br>
            <input type="submit" value="Register">
        </form>
    </center>
</body>
</body>

</html>